
@{
    ViewBag.Title = "EasyUI2";
}
@section scripts{
    <script>
    $('#dg').edatagrid({
        url: '@Url.Action("GetJson")',
            saveUrl: '@Url.Action("TestOne")',
            updateUrl: 'update_user.php',
            destroyUrl: 'destroy_user.php'
        });
    </script>
}
<h2>EasyUI2</h2>

<table id="dg" title="My Users" style="width:550px;height:250px"
       toolbar="#toolbar" idfield="id"
       rownumbers="true" fitcolumns="true" singleselect="true">
    <thead>
        <tr>
            <th field="firstname" width="50" editor="{type:'validatebox',options:{required:true}}">First Name</th>
            <th field="lastname" width="50" editor="{type:'validatebox',options:{required:true}}">Last Name</th>
            <th field="phone" width="50" editor="text">Phone</th>
            <th field="email" width="50" editor="{type:'validatebox',options:{validType:'email'}}">Email</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="javascript:$('#dg').edatagrid('addRow')">New</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="javascript:$('#dg').edatagrid('destroyRow')">Destroy</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">Save</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">Cancel</a>
</div>