
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImageList</title>
</head>
<body>
    <div> 
        @ViewBag.pidata
    </div>
    <div>
        @ViewBag.page
    </div>
</body>
</html>
