
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="https://accounts.google.com/o/oauth2/auth?scope=profile+email&redirect_uri=http://localhost:14665/Google/Return&response_type=code&client_id=906630340301-4vjdet6na06ljgu8gmu12br7mfr0q20p.apps.googleusercontent.com&approval_prompt=force">點我登入</a>