
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadSession</title>
</head>
<body>
    <div> 
        @ViewData["MemberID"]
        <br />
        @ViewData["MemberName"]
        <br />
        @ViewData["MemberSex"]
    </div>
</body>
</html>
