
@{
    ViewBag.Title = "Upload_Multiple";
}
@section scripts{
    <script>
        $(function () {
            function debug(msg) {
                var log = document.getElementById("debuglog");
                if (!log) {
                    log = document.createElement("div");
                    log.id = "debuglog";
                    log.innerHTML = "<hi>Debug Log</h1>";
                }
                var pre = document.createElement("pre");
                var text = document.createTextNode(msg);
                pre.appendChild(text);
                log.appendChild(pre);
            }
            debug("TEST JavaScript");
        })
        
        
    </script>
}
@*因為要上傳檔案enctype記得加上*@
@using (Html.BeginForm("Uploaded", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*因為要多個上傳 所以要用到multiple屬性*@
    <input type="file" name="files" multiple />
    <input type="submit" value="上傳" />
}
